<h1 class="page-header">Blog Feed</h1>

<div class="row show-hide-message" *ngIf="message && newPost">
  <div [ngClass]="messageClass">
    {{ message }}
  </div>
</div>

<button type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="newBlogForm()">New Post</button>
<button [disabled]="loadingBlogs" type="button" name="button" class="btn btn-warning" *ngIf="!newPost" (click)="reloadBlogs()"><span class="glyphicon glyphicon-repeat"></span>&nbsp;&nbsp;Reload</button>


<br>
<br>

<!-- NEW BLOG FORM -->

<form [formGroup]="form" name="blogForm" (submit)="onBlogSubmit()" *ngIf="newPost"> 
  <!-- TITLE -->
  <div class="form-group">
    <label for="title">Title</label>
    <div [ngClass]="{'has-success': form.controls.title.valid, 'has-error': form.controls.title.dirty && form.controls.title.errors}">
      <input type="text" name="title" class="form-control" placeholder="Title" autocomplete="off" formControlName="title" />
      <ul class="help-block">
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.required">This field is required.</li>
        <li *ngIf="form.controls.title.dirty && (form.controls.title.errors?.minlength || form.controls.title.errors?.maxlength)">Maximum length: 50. Minimum length: 5.</li>
        <li *ngIf="form.controls.title.dirty && form.controls.title.errors?.alphaNumericValidation">Only letters and numbers allowed in title.</li>
      </ul>
    </div>
  </div>
  <!-- TITLE END -->

  <!-- BODY -->
  <div class="form-group">
    <label for="body">Body</label>
    <div [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">
      <textarea name="body" id="" cols="30" rows="10" placeholder="Write post here." class="form-control" formControlName="body"></textarea>
      <ul class="help-block">
        <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required">This field is required.</li>
        <li *ngIf="form.controls.body.dirty && (form.controls.body.errors?.minlength || form.controls.body.errors?.maxlength)">Maximum length: 500. Minimum length: 5.</li>
      </ul>
    </div>
  </div>
  <!-- BODY END -->

  <button [disabled]="processing" type="button" (click)="goBack()" class="btn btn-warning">Go Back</button>
  <button [disabled]="processing || !form.valid" type="submit"  class="btn btn-success">Submit</button>

</form>

<!-- END NEW BLOG FORM -->

<div *ngIf="!newPost">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Post Title</h3>
    </div>
    <div class="panel-body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis leo at lorem elementum vehicula nec ut massa. Phasellus dapibus lectus a purus ultricies, in faucibus urna euismod. Phasellus ultrices dolor et dui tincidunt, et eleifend dolor placerat. Donec tristique est finibus, commodo orci quis, porttitor mi. Ut ac rutrum odio. Integer auctor vel est vitae vestibulum. Fusce ac mauris pellentesque, euismod mi in, lacinia mauris. Vestibulum elit arcu, cursus ut nisi in, lobortis iaculis erat. Donec mauris elit, dictum in quam ut, varius placerat lectus. Vivamus pellentesque elementum risus, ac semper risus ultricies ac. Donec sed venenatis elit, ut accumsan sapien. Phasellus sed sodales nunc. Nam ac metus blandit, consequat augue at, maximus tortor. Morbi pellentesque mi tempor, euismod metus sed, molestie urna. Vivamus at mauris faucibus, sodales sem nec, consectetur augue.
    </div>
    <!-- footer -->
    <div class="panel-footer">
      <strong>Posted by: </strong>harry wu
      <br>
      <strong>Date: </strong>Feb 10, 2019
      <br>
      <div>
        <strong>Likes: </strong>25
        <br>
        <strong>Dislikes: </strong>25
      </div>
      <!-- Edit Button -->
      <a href="#"><button type="button" name="button" class="btn btn-sm btn-info">Edit</button></a>
      <!-- Delete Button -->
      <a href="#"><button type="button" name="button" class="btn btn-sm btn-danger">Delete</button></a>

      <!-- like -->
      <div class="dropdown">
        <button type="button" name="button" class="btn btn-sm btn-success">
          <span class="glyphicon glyphicon-thumbs-up">&nbsp;</span>Likes: 21
        </button>
        <div class="dropdown-content">
          <a href="#">gawjeklhg</a>
          <a href="#">aghlkjbnn</a>
          <a href="#">asega</a>
        </div>
      </div>

      <!-- Dislikes -->
      <div class="dropdown">
        <button type="button" name="button" class="btn btn-sm btn-warning">
          <span class="glyphicon glyphicon-thumbs-down">&nbsp;</span>Dislikes: 2
        </button>
        <div class="dropdown-content">
          <a href="#">gawjeklhg</a>
          <a href="#">aghlkjbnn</a>
          <a href="#">asega</a>
        </div>
      </div>

    </div>
    <!-- footer end -->

    <ul class="list-group">
      <li class="list-group-item">
        <button type="button" name="button" class="btn btn-sm btn-danger" (click)="draftComment()">Post Comment</button>
        <br>
        <!-- <form>
          <textarea name="comment" cols="30" rows="10" class="form-control"></textarea>
          <button type="button" name="button" class="btn btn-sm btn-info">Post</button>
          <button type="button" name="button" class="btn btn-sm btn-danger">Cancel</button>
        </form> -->
      </li>
    </ul>

  </div>
</div>