<div class="jumbotron text-center">
    <h1>MEAN Stack Web App Demo</h1>
    <p class="lead">A blogging platform by <strong>Harry Wu</strong></p>
    <div>
      <a routerLink="/register" class="btn btn-primary">Register</a>
      <a routerLink="/login" class="btn btn-default">Login</a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <span class="main-icon fas fa-database"></span>
        <div class="caption">
          <h3>MongoDB</h3>
          <p>MongoDB is a free and open-source cross-platform document-oriented database program. This NoSQL database program uses JSON-like documents with schemas.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-4">
      <div class=thumbnail> 
        <span class="main-icon fas fa-laptop-code"></span>
        <div class=caption>
          <h3>ExpressJS</h3>
          <p>Express is a Node.js framework. Node.js is a platform that allows JavaScript to be used outside web browsers, for creating web and network applications.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-4">
      <div class=thumbnail> 
        <span class="main-icon fab fa-angular"></span>
        <div class=caption>
          <h3>Angular 7</h3>
          <p>Angular is a development platform for building mobile and desktop web applications. Ut dignissim eleifend maximus. Ut dignissim eleifend maximus. Ut dignissim eleifend.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-4">
      <div class=thumbnail> 
        <span class="main-icon fab fa-node"></span>
        <div class=caption>
          <h3>NodeJS</h3>
          <p>Node.js is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-4">
      <div class=thumbnail> 
        <span class="main-icon fas fa-palette"></span>
        <div class=caption>
          <h3>Bootstrap 3</h3>
          <p>Bootstrap is a popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web. It focuses solely on front-end development.</p>
        </div>
      </div>
    </div>
  
    <div class="col-sm-6 col-md-4">
      <div class=thumbnail> 
        <span class="main-icon far fa-user"></span>
        <div class=caption>
          <h3>About</h3>
          <p>A blogging site built using the MEAN stack. Please take a look around and enjoy! Visit my other projects at my <a href="https://github.com/hywu1996">GitHub</a> or check out my personal site at <a href="http://harrywu.ca">harrywu.ca</a>!</p>
        </div>
      </div>
    </div>
  
  </div>